<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app"> {{message}} {{message+ message}}
        <div v-bind:id="message"> </div>   
        <todo-list></todo-list>
        
    </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script >
/* 组件名字必须唯一*/
/* 把复用的代码段放在组件里面 todo-item 就是组件 以下就是注册一个todo-item 组件*/
    Vue.component ('todo-item', {
        /*属性声明 获取title del 同时可以把这个定义默认值*/
        props: {
            title: String,
            del: { /**/
                type : Boolean,
                defalt: false,
            }
        },
        template:
            `<li>
                <span v-if="!del">{{title}}</span>
                <span v-else style="text-decoration: line-through">{{title}}</span>
                <button v-show="!del" @click="handleClick">delete</button>
            </li> `     /*v-show 只是隐藏 在cosole 里面还是会出现的*/
        ,
        data: function(){
            return {             
            }
        },
        methods:{
            /*handlClick 方法 在template 里面点击的时候就会调用*/
            handleClick(){
                console.log('click delete button')
                this.$emit('delete',this.title)/*抛出delete 事件 并且传递了一个title 的参数*/
            }
        },
    })

    Vue.component ('todo-list', {
        template:
            `<ul>        
            <todo-item @delete="handleDelete" v-for= "item in list" data v-bind:title="item.title" :del="item.del"></todo-item>
            </ul> `   /*delete 事件 调用handledelete 方法*/  
        ,
        data: function(){
            return {
                list: [{
                title: "class1",
                del: false
                },{
                title: "class2",
                del: true
                }]
            }
        },
        methods:{
            handleDelete(val){
                console.log('handleDelete',val)
            }
        }
    })
    /*vm 是Vue的一个对象*/
    var vm = new Vue({
        el: '#app',
        data: {
            message: 'hello world',
            
        }
    })

</script>
</body>
</html>